---
import GalleryCard from '../components/gallery-card.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title='Galeria'>
	<section>
        <div class="wjYq">
            <h2>Galeria</h2>
        </div>
        <div class="qPnL">
            <GalleryCard src='70936ecd-1386.jpg' />
            <GalleryCard src='d0819d7a-c351.jpg' />
            <GalleryCard src='ba4c5589-2988.jpg' />
            <GalleryCard src='14834f79-5f0c.jpg' />
            <GalleryCard src='1895addc-5a9b.jpg' />
            <GalleryCard src='70414c8a-8773.jpg' />
            <GalleryCard src='bdbc7416-e0af.jpg' />
            <GalleryCard src='de44b5c1-843a.jpg' />
            <GalleryCard src='3a439cdc-4477.jpg' />
        </div>
	</section>
</Layout>

<style>
    .wjYq {
        padding: 0 0 0 1em;
        width: 100vw;
        height: 10em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .wjYq>h2 {
        margin: 0;
        font-weight: bold;
    }
</style>

<style>
    .qPnL {
        width: 100vw;
        height: fit-content;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
</style>