---
import GalleryCard from '../components/gallery-card.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title='Galeria'>
	<section>
		<GalleryCard src='https://biza.neocities.org/1.jpg' />
	</section>
</Layout>