---
interface Props {
    Image: {
        height: number;
        src: string;
        width: number;
    }
}

const { Image } = Astro.props;

---


<biz-img-card style={`--zk:${Image.height};--zw:${Image.width}`}>
    <div class="xlST">
        <div class="dgO ra">
            <div class="wwIw">
                <img src={Image.src}>
            </div>
        </div>
        <div class="dgO re">
            <img src={Image.src}>
        </div>
    </div>
</biz-img-card>

<script>
    class bizImageCard extends HTMLElement {
        constructor() {
            super();
        }
    }

    customElements.define("biz-img-card", bizImageCard);
</script>

<style>
    biz-img-card {
        display: block;
        height: fit-content;
        width: fit-content;
        overflow: hidden;
        border-radius: 12px;
        margin: .25em;
        transition: transform .45s;
    }

    .xlST {
        height: max-content;
        width: max-content;
        max-height: 20em;
        max-width: 20em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        aspect-ratio: var(--zw) / var(--zk);
        padding: 2px;
        justify-content: center;
        align-items: center;
    }
    
    .dgO {
        width: var(--zw);
        height: var(--zk);
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 3;
        padding: 5px;
    }
    
    .dgO.ra>.wwIw {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .dgO.ra>.wwIw>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
    .dgO.re>img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
        filter: blur(2em) opacity(0);
        transition: filter .25s;
    }
    
    .dgO.re {
        z-index: 0;
    }
    
    .dgO.re {
        overflow: hidden;
        border-radius: 3px;
        background: rgb(var(--zt));
    }
</style>

<style>
    biz-img-card:hover {
        transform: scale(1.02);
        z-index: 5;
    }

    biz-img-card:hover .dgO.re>img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
        filter: blur(3em) opacity(1);
    }
</style>