---
interface Props {
    src: string
}

const {src} = Astro.props;

---


<biz-img-card>
    <div class="dgO ra">
        <div class="wwIw">
            <img src={src}>
        </div>
    </div>
    <div class="dgO re">
        <img src={src}>
    </div>
</biz-img-card>